* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/sap.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;

}
.container{
  clear: both;
}

.nav {
  float: right;
  width: 35%;
  height: 650px; 

  
}

.nav>ul {
    list-style-type: none;
    margin: 100px;
    padding: 0;
    width: 200px;   
    
  }
  
  .nav li a {
    display: inline-block;
    font-size: 18px;
    background-color: #537185;
    color:white;
    padding: 8px 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    height: 60px;
    margin: 2px;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: red;
    color: white;
  }

.article {
  float: left;
  padding: 20px;
  width: 65%;
  height: 650px;
}

  .article >img{
    
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
    margin-left: 350px;
    margin-top: 80px;
    width: 200px;
    height:200px;
   
  }
  #myname{
      font-size: 30px;
      color:red; 
          margin-left: 90px;
  }
  #subtitle{
      font-size: 24px;
      color:white;
      margin-left: 100px;
      font-weight: bold;

  }
  p{
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
      color: green;
      text-align: center;
     
  }

  h3{
    
    color:red;
    font-size: 20px;
    font-weight: bold;
  }
 /* AboutMe page*/
 .desc{
    
     margin-top:  80px;
 }
 .desc ul{
   color: white;
   list-style-position: initial;
 }
 .desc li{
   padding: 2px;
   text-align: initial;
   
 }
 #hello{
     text-align: center;
     font-family: cursive;
     font-size:30px;
     color:white;
 }
 #selfintro{
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
 }
 /*qualificationpage*/

 .qualificationdesc{
   color:black;
   margin-top:90px;
   margin-left: 60px;
   width: 100%;
   size: 100px;
   text-align: center;
 }
 .qualificationdesc li{
   color:white;
   font-weight: 400;
   font-family: 'Courier New', Courier, monospace;
   list-style: none;
   padding: 2px;
   font-size: 18px;
   text-align: center;
 }
 .projectdescription li{
  color:white;
   font-weight: 400;
   font-family: 'Courier New', Courier, monospace;
   list-style: none;
   padding: 2px;
   font-size: 18px;
   text-align: center;
 }
 th{
   font-size: 25px;
 }

 #plus2{
   text-align: center;
 }
 h1,h2{
   text-align: center;
   color:purple;
 }
 /*projectpage*/
 .projectdescription{
  color: aliceblue;
  margin-top:90px;
  margin-left: 60px;
 
 }
 .projectdescription img{
   width:80px;
   height: 50px;
 }
 td{
   padding: 20px;
   font-size: 20px;
 }
 /*contactpage*/
 .contactdesc{
   text-align: center;
  margin-top:150px;
   
 }

 .logolist li{
   display: inline;
   text-align: center;
 }

 /*blogpage*/
 .blogdesc img{
   width: 400px;
   height: 200px;
 }
 .blogdesc ul{
   list-style: none;
   text-align: center;
   margin-top: 80px;
 }
 .blogdesc li{
   color: green;
   font-size:18px;
   padding: 2px;
 }
 span{
   font-size: 22px;
   color: white;
 }
 
 

 

